*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

/* Global */
.darkula{
    text-align: left;
    background-color: #35424a;
    color: white;
    padding: 15px;
    margin-top: 20px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 20px;
    width: 250px;
}
.darc1{
    float: center;
    text-align: left;
    color: white;
    padding: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-top: 15px;
    /* margin-left: 100px; */
    font-size: 20px;
}
.darc2{
    float: center;
    text-align: right;
    color: white;
    padding: 15px;
    margin-bottom: 15px;
    margin-right: 10px;
    margin-top: 15px;
    /* margin-left: 100px; */
    font-size: 20px;
}

.dark{
    text-align: center;
    background-color: #35424a;
    color: white;
    padding: 15px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 20px;
    /* width: 100px; */
}

.white{    
    text-align: left;
    color: white;
    padding: 15px;
    margin-top: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 20px;
    width: 250px;
}

h1.page-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    padding: 15px;
    /* margin-top: 10px;
    margin-top: 10px; */
    margin-left: 500px;
    color: white;
}

h2.post{
    color: #fff;
    text-align: left;
    margin-left: 20px;
    padding: 15px;
}

p.post-para{
    color: #fff;
    text-align: left;
    margin-left: 20px;
    padding: 15px;
}

h2.guest{
    color: #fff;
    text-align: right;
    margin-left: 20px;
    padding: 15px; 
}

p.guest-post{
color: #fff;
text-align: right;
margin-left: 20px;
padding: 15px;
}

p.date{
    color: #fff;
    text-align: left;
    margin-left: 20px;
    padding: 15px;
    font-size: 10px;
}

img.small{
    height: 20px;
}

header{
   min-height: 70px;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #00c7ec;
    padding: 5px 20px;
    border: 1px solid #00c7ec;
    /* background-color: #00ce7c; */
    transition: 0.6s ease;
}

ul li a:hover{
    color: #000;
    background-color: #00c7ec;
    box-shadow: 0 0 30px 0 #00c7ec;
    transition: all 0.6s ease-out;
}

ul li.active a{
    color: #000;
    background-color: #00c7ec;
    box-shadow: 0 0 30px 0 #00c7ec;
}

.logo img{
    float: left;
    width: auto;
    /* height: auto; */
    height: 150px;
}

.main{
    max-width: 1200px;
    margin: auto;
}

/* Showcase **/
#showcase{
    min-height: 400px;
    text-align: center;
    color: #fff;
}

#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p{
    font-size: 20px;
}

/* Box **/
.container{
    width: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container .card{
    position: relative;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;      
}

.container .card .face{
    width: 300px;
    height: 200px;
    transition: 0.4s;
}

.container .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 1;
    transform: translateY(100px);
    border-radius: 50px;
}

/*Blue = hatha yoga, green = power yoga, red = Vinyasa */

.container .card:hover .face.face1{
    box-shadow: inset 0 0 60px #fff,
    inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f,
    inset -20px 0 300px #0ff,
    0 0 50px #fff,
    -10px 0 80px #f0f,
    10px 0 80px #0ff;
    transform: translateY(0px);
    border-radius: 50px;
}

.container .card .face.face1 .content{
    opacity: 0.2;
    text-align: center;
    transition: 0.5;
}

.container .card:hover .face.face1 .content{
    opacity: 1;
}
.container .card .face.face1 .content i{
    /* opacity: 1; */
    font-size: 3em;
    color: #fff;
}

.container .card .face.face1 .content h3{
    font-size: 1em;
    color: #fff;
    text-align: center;
}

.container .card .face.face2{
    position: relative;
    background-color: #fff;
    display: flex;
    padding: 20px;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
    border-radius: 50px;
}

.container .card:hover .face.face.face2{
    transform: translateY(0px);
}

.container .card .face.face2 .content p{
margin: 0;
padding: 0;
font-size: 15px;
font-weight: bolder;
color: #333;
text-align: center;
}

/* Sidebar **/
aside#sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;
}

/* Main-col **/
article#main-col{
    float: left;
    width: 65%;
}

/* BK Image */
section.bkimage{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(background.jfif);
    background-size: cover;
    height: 200vh;
    background-position: center;
}

::-webkit-scrollbar{
    width: 10px;
}

#scrollBarPath{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255,255,255,0.05);
}
#progressBar{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    background: linear-gradient(to top, #008aff, #00ffe7); 
    animation: animate 5s linear infinite;
}
@keyframes animate{
    0%{
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(360deg);
    }
    100%{
        filter: hue-rotate(0deg);
    }
}
#progressBar::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe5);
    filter: blur(10px);
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom, red, orange,red, orange,red, orange,red, orange);
    height: 20px;
    width: 10px;
}
::-webkit-scrollbar-track{
    background: #000;
}
@keyframes animate{
    0%,100%{
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(360deg);
    }
}
#progressBar::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(30px);
}
footer{
    text-align: center;
    background-color: darkorange;
    color: white;
    transition: 0.6s ease;
}

footer:hover{
    text-align: center;
    background-color: white;
    color: darkorange;
}